yellow_tripdata_2021-01.csv
green_tripdata_2019-10.csv

# ignore all .csv files
*.csv

# ignore credential keys
.json

# Ignore all .parquet files
*.parquet

# Ignore Terraform provider files
terraform_demo/.terraform/providers/*
terraform_demo/.terraform.lock.hcl
terraform_demo/Keys/tf_keys.json
